<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LightningChartUltimateWPF8" version="8.4.1.1" targetFramework="net462" />
  <package id="System.Drawing.Common" version="4.6.0-preview5.19224.8" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>